@charset "utf-8";
.notice {
    width: 100%;
    padding: 0 2%;
    height: .938rem;
    background-color: #f5e1c3;
    line-height: .938rem;
    overflow: hidden;
}

.notice img {
    float: left;
    width: 0.4rem;
    height: 0.35rem;
    margin: 0.31rem 0.15rem 0 0;
}

.notice p {
    color: #EC6941;
    font-size: 0.2436rem;
}

.attribute {
    background-color: #fff;
    padding-bottom: .1rem;
}

.attribute h3 {
    width: 100%;
    padding-left: .22rem;
    font-size: .32rem;
    line-height: 1rem;
    font-weight: 400;
    color: #353535;
    border-bottom: 0.02rem solid #efeef3;
}

.attribute ul li {
    width: 94%;
    margin: 0.3rem auto;
    padding: 0.2rem;
    border: 0.02rem solid #efeef3;
    font-size: 0.35rem;
    border-radius: 0.1rem;
    background: url(../img/repat2.gif) no-repeat 0.2rem 0.25rem;
    background-size: 0.35rem;
}

.attribute ul .attribute_img {
    background: #f4f9fe url(../img/repat3.gif) no-repeat 0.2rem 0.25rem;
    background-size: 0.35rem;
}

.weui-navbar {
    width: 100%;
    bottom: 0;
    padding: .4rem 0rem;
    background-color: #efeef3;
    padding-top: 0rem;
}

.step {
    display: block;
    width: 94%;
    height: 1rem;
    background-color: rgba(33, 150, 243, 0.3);
    border-radius: .2rem;
    margin: 0 auto;
    text-align: center;
    line-height: 1rem;
    border-right: 0.1rem;
    color: #deebfd;
    font-size: .4rem;
    background: linear-gradient(90deg, rgba(33, 150, 243, 1), rgba(33, 102, 243, 1));
}

.stex {
    display: block;
    width: 94%;
    height: 1rem;
    border-radius: .2rem;
    margin: 0.4rem auto;
    text-align: center;
    line-height: 1rem;
    border-right: 0.1rem;
    color: #000000;
    font-size: .4rem;
    border: 0.02rem solid #D6D5D6;
}

.genre {
    background-color: #fff;
    height: auto;
    overflow: hidden;
}

.genre ul li {
    width: 100%;
    height: .935rem;
    position: relative;
    background-color: #FFFFFF;
    border-bottom: 0.01rem solid #efeef3;
    overflow: hidden;
}

.genre ul li span {
    color: red;
    padding: 0 .15rem .2rem;
}

.genre ul li p {
    float: left;
    font-size: 0.30rem;
    line-height: .935rem;
    color: #353535;
}

.genre ul li > input {
    float: right;
    margin: 0 0;
    font-size: 0.28rem;
    color: #9c9c9c;
    text-align: right;
    height: 98%;
    width: 50%;
    padding-right: .2rem;
}

.genre ul li.guding input.date {
    font-size: 0.3rem;
    color: #9c9c9c;
    text-align: right;
    line-height: .8rem;
    float: right;
    padding-right: .6rem;
    padding-top: 0rem;
    margin: 0rem;
}

.genre ul li.guding .input {
    float: right;
    line-height: .935rem;
    font-size: 0.32rem;
    min-width: 2.2rem;
    color: #9c9c9c;
    text-align: right;
    padding-right: .6rem;
}

.genre ul li > input::-webkit-input-placeholder {
    text-align: right;
    color: #9c9c9c;
}

ul li.guding {
    background: #fff;
}

.genre .down {
    display: flex;
    position: absolute;
    right: 0.2rem;
    top: 0;
    height: .935rem;
    align-items: center;
}

.genre .down img {
    height: 0.3rem;
}

.genre .FileList {
    width: 7.6rem;
    height: auto;
    margin: 0 auto;
    background: #efeef3;
    border-radius: .06rem;
    overflow: hidden;
}

.genre .FileList ul {
    overflow: hidden;
    background-color: #fff;
}

.genre .FileList ul li {
    position: relative;
    height: 1rem;
    background-color: #EFEEF3;
    border-bottom: .02rem dashed #666;
}

.genre .FileList ul li:first-child {
    margin-top: .3rem;
}

.genre .FileList ul li:last-child {
    margin-bottom: .3rem;
    border-bottom: 0;
}

.genre .FileList ul li .title {
    width: 100%;
    height: 1rem;
    font-size: .32rem;
    line-height: 1rem;
    padding-left: .1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    padding-left: .4rem;
    padding-right: 1.5rem;
    background: url("../img/ico_filelist_dian.png") .13rem center no-repeat;
}

.genre .FileList ul li .load-files-ct {
    position: absolute;
    right: 0;
    width: 1.5rem;
    height: 1rem;
    line-height: 1rem;
}

.genre .FileList ul li a {
    float: right;
    margin-top: .25rem;
    margin-right: .25rem;
    width: .5rem;
    height: .5rem;
}

.genre .FileList ul li img.del,
.genre .FileList ul li img.download {
    width: .5rem;
}

.genre .FileList ul li img.download {
    height: .44rem;
}

.genre .FileList ul li img.del2 {
    float: right;
    width: .5rem;
    height: .5rem;
    margin-top: .25rem;
    margin-right: .2rem;
    padding-right: .1rem;
}

.check-item {
    background: #fff;
}

.check-item ul li > p {
    font-size: 0.30rem;
    line-height: .935rem;
    color: #353535;
}

.check-item ul li > p span {
    color: red;
    padding: 0 .15rem .2rem;
}

.check-item .check-list {
    padding: .2rem;
}

.check-item .check-inner {
    padding: 0.2rem;
    border: 0.02rem solid #efeef3;
    font-size: 0.35rem;
    border-radius: 0.1rem;
}

.check-item .check-inner label {
    display: block;
    width: 100%;
    font-size: .3rem;
    padding-left: 20px;
    background: url(../img/not_checked.png) no-repeat left center;
    background-size: .3rem;
}

.check-item .check-inner input[type=checkbox] {
    display: none;
}

.check-item .check-inner input[type=text] {
    width: 100%;
    height: .5rem;
    line-height: .5rem;
    font-size: .3rem;
}

.check-item .check-inner input[type=checkbox]:checked + label {
    background: url(../img/selected.png) no-repeat left center;
    background-size: .3rem;
}

.check-item .check-list .check-inner:last-child {
    display: none;
}

/*2019-3-26*/

.genre ul li.time input.date::-webkit-input-placeholder {
    text-align: center;
}

.genre ul li.time input.date:last-child {
    text-align: left;
    /* float: */
}

.genre ul li.time .time-del {
    width: 1.8rem;
    float: left;
    line-height: 1rem;
    text-align: center
}

.genre ul li.time .time-con {
    width: 5.68rem;
    height: .9rem;
    float: right;
    padding-left: .72rem;
    overflow: hidden;
}

.genre ul li.time .time-con span {
    color: #9c9c9c;
    float: left;
    line-height: .95rem;
}

.genre ul li.time .time-con input.date {
    font-size: 0.32rem;
    color: #9c9c9c;
    height: 100%;
    line-height: .8rem;
    float: left;
    padding-right: 0rem;
    padding-top: 0rem;
    margin: 0rem;
    width: 2rem;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.genre ul li.time .time-con input.date:last-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.choice {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
}

.employee ul li {
    width: 100%;
    padding-left: 10%;
    height: 1.3rem;
    background: #FFFFFF url(../img/repat2.gif) no-repeat 0.31rem 0.29rem;
    background-size: .3rem;
    border-bottom: 0.02rem solid #efeef3;
}

.employee .employee_img {
    background: #FAFAFA url(../img/repat3.gif) no-repeat 0.31rem 0.29rem;
    background-size: .3rem;
}

.employee ul li p {
    font-size: 0.35rem;
    padding: 0.2rem 0 0.1rem 0;
    color: #353535;
}

.employee ul li span {
    font-size: 0.3rem;
    color: #B2B2B2;
}

.choose {
    width: 100%;
    background-color: #FFFFFF;
    padding: 3% 0;
    border-top: 0.02rem solid #efeef3;
    margin-top: 0.2rem;
}

.choose a {
    display: block;
    width: 94%;
    height: 1rem;
    background-color: rgba(33, 150, 243, 0.3);
    border-radius: .2rem;
    margin: 0 auto;
    text-align: center;
    line-height: 1rem;
    border-right: 0.1rem;
    color: #deebfd;
    font-size: .4rem;
    background: linear-gradient(90deg, rgba(33, 150, 243, 0.4), rgba(33, 102, 243, 0.4));
    box-shadow: 0rem 0.05rem 0.1rem 0.01rem rgba(33, 150, 243, 0.2);
}

.choose .choose_a {
    background: linear-gradient(90deg, rgba(33, 150, 243, 1), rgba(33, 102, 243, 1));
}

.telephone ul {
    width: 100%;
}

.telephone ul li h4 {
    font-size: 0.36rem;
    color: #2196F3;
    line-height: 1rem;
    margin-left: 0.24rem;
}

.telephone .phone {
    width: 94%;
    margin: 0 auto;
    position: relative;
    height: 1rem;
    margin-bottom: 0.2rem;
    background-color: #fafafa;
    border: 0.02rem solid #efeef3;
    border-radius: 0.1rem;
    overflow: hidden;
}

.telephone .phone p {
    float: left;
    margin-left: 0.2rem;
    font-size: 0.35rem;
    line-height: 1rem;
    color: #353535;
}

.telephone .phone input {
    float: right;
    width: 4.3rem;
    margin: 0.32rem 0.26rem 0 0;
    font-size: 0.3rem;
    color: #9c9c9c;
    text-align: right;
    background-color: #fafafa;
}

.telephone .phone input.date {
    float: right;
    width: 4.5rem;
    margin: 0rem 0.26rem 0 0;
    font-size: 0.3rem;
    color: #9c9c9c;
    text-align: right;
    background-color: #fafafa;
    padding-right: .25rem;
    height: 100%;
}

.telephone .phone input::-webkit-input-placeholder {
    text-align: right;
    color: #9c9c9c;
}

.telephone .phone .input {
    font-size: 0.3rem;
    color: #9c9c9c;
    text-align: right;
    line-height: 1rem;
    float: right;
    padding-right: .6rem;
}

.telephone .phone .down {
    display: flex;
    position: absolute;
    right: 0.2rem;
    top: 0;
    height: .935rem;
    align-items: center;
}

.telephone .phone .down img {
    height: 0.3rem;
}

.introc .genre .preview {
    background: #FFFFFF url(../img/leave1.gif) no-repeat 0.18rem 0.35rem;
    background-size: 0.3rem;
}

.introc .genre .preview_img {
    background: #FFFFFF url(../img/leave2.gif) no-repeat 0.18rem 0.35rem;
    background-size: 0.3rem;
}

.introc .genre .preview p {
    margin-left: 0.68rem;
}

.add-time-btn {
    display: block;
    width: .8rem;
    height: .5rem;
    float: right;
    text-align: center;
    background: linear-gradient(90deg, rgba(33, 150, 243, 1), rgba(33, 102, 243, 1));
    box-shadow: 0 0.01rem 0.1rem 0.02rem rgba(33, 150, 243, 0.3);
    border-radius: .1rem;
    line-height: .45rem;
    margin-top: .15rem;
    color: #fff;
    font-size: .46rem;
}

.genre ul li.time .time-del img {
    width: .45rem;
    margin-top: .2rem;
}


/** 双列文字，后带判断显示的布局**/

.double-row-layout {
    overflow: hidden;
    background-color: #fff;
}

.double-row-layout li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .3rem;
    padding: 10px .25rem;
}

.double-row-layout li + li {
    border: .01rem solid #efeef3;
}

.double-row-layout li .type {
    width: 1rem;
    text-align: right;
}

.double-row-layout .col-content p + p {
    font-size: .26rem;
    color: #9c9c9c;
    text-indent: 1em;
}


/*承诺书*/

.wrapContent .promisebook-ct {
    padding: 10px .4rem;
    display: block;
    font-size: 0.2624rem;
    color: #666666;
    text-indent: 2em;
}

.promisebook-btn {
    color: red;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-right: .2rem;
    text-align: right;
}

.promisebook-btn input[type=radio] {
    vertical-align: sub;
    margin-right: 4px;
}

/*textarea 获取焦点时展示*/
.explain {
    display: none;
    padding: 0 .2rem;
}